.vs5000WelcomPageTable,.vs5000WelcomPageTable_1{
    width:70%;
    margin:0px auto;
    margin-top:1%;
    margin-left:2%;
    float:height;
    border-collapse:collapse;
    font-family:arial;
    text-align:left;
	color:0x333;
}
.vs5000WelcomPageTable td,th{
    height:32px;
    text-decoration:none;
    line-height:50%;
    border:1px solid #bbb;
    font-family: Arial;
    padding-left:10px;
}
.vs5000WelcomPageTable th{
    background-color: #F2F4B9;
    font-weight: normal;
    font-size:14px;
    text-align:right;
    padding-right:10px;
}
.vs5000WelcomPageTable td{
    font-size:14px;
}
.vs5000_td{
    background-color: #E3E685;
    font-size:large;
    text-align:center;
}
.content{
    height:100%;
    padding-bottom:20px;
    font-size:14px;
}
textarea{
            resize: none;
            width: 400px;
            height: 180px;
        }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0
}


.file-box{ position:relative;width:300px} 
.txt{ height:22px; border:1px solid #cdcdcd; width:180px;} 
.btn,submit { background-color:#FFF; border:1px solid #CDCDCD;height:24px; width:90px;} 

.iptxt{ height:22px; border:1px solid #cdcdcd; width:60px;} 
.longBtn { background-color:#FFF; border:1px solid #CDCDCD;height:24px; width:120px;} 

.ChangeNet{

}
.box2{ width:100%; margin:10 auto; display:none; z-index:5; position:fixed;  opacity:1; }
.login5{ width:380px;  background:#b52200; text-align:center; position:relative; margin:150px auto 0px auto;}
.login5 h2{ font-size:16px; line-height:40px; color:#ffffff;}
.login5 a{0px 0px no-repeat; position:absolute; right:30px; top:10px;}


.login51{ width:300px; padding:40px 40px 50px; margin:0 auto; background: #c7ffd7; height:160px; }
.login5left{ float:center; width:300px; height:200px; font-size:13px;}
.login5left1{ width:100%; margin-bottom:22px; float:left; position:relative; display:block;}
.login5left1 input{ text-indent:10px; width:296px; color:#999; font-size:13px; height:40px; line-height:40px; border:1px solid #999; border-radius:5px;}

.login5left2{ height:45px; line-height:45px; width:100%; margin-bottom:22px; float:left; position:relative; display:block;}
.login5left2 .logInBt{ float:left; width:97px; height:45px; line-height:45px; text-align:center; background:none repeat scroll 0% 0% #55ACEF; color:#fff; border-radius:5px; display:inline-block; font-size:14px; outline:medium none;}
.login5left2 .closeBtn{ float:right; width:97px; height:45px; line-height:45px; text-align:center; background:none repeat scroll 0% 0% #55ACEF; color:#fff; border-radius:5px; display:inline-block; font-size:14px; outline:medium none;}

.contentTxet_2{
    margin-left:50px;
    font-size:14px;
    font-weight:bold;
    margin-top:20px;
}

.contentTxet_1{
    width:50%;
    margin:0px auto;
    margin-top:1%;
    margin-left:2%;
    color:#55555;
    font-weight:bold;
    font-size:16px;
    text-align:center;
}


.font_td_top{
    font-weight:bold;
    background:#E3E685;
    border:1px solid #ccc;
    color:#FF0000;
    height:32px;
}
.font_td_top_1{
    //font-weight:bold;
    background:#F2F4B9;
    border:1px solid #ccc;
}
.font_td_left {
    border:1px solid #ccc;
    width:30%;
    //font-weight:bold;
    background:#F2F4B9;
    text-align:right;
    font-size:14px;
}
.font_td_right{
    width:80%;
    font-weight:bold;
    font-size:14px;
}
